.form{
  display: flex;
  flex-direction: column;
  div{
    position: relative;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    label{
      width: 40%;
    }
    input{
      flex-grow:1;
    }
  }
}