$cor-de-fundo-bege: beige;
$cor-de-fundo-azure: azure;

$altura-minima-switch: 20vh;
$altura-minima-snellen: 70vh;

$altura-margin-top-switch: calc(100vh - ($altura-minima-switch + $altura-minima-snellen));

$border: 5px;
$font-size: 20px;
$letter-spacing: 10px;

$user-icon-size: 40px;
$icon-scale: 0.2;

.navbar {
  padding-top: 1rem;
  display: flex;
  align-items: center;

  .logoContainer {
    margin-top: 2.5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .user {
    position: relative;
    z-index: 2;
    right: #{calc(1 - $icon-scale)}rem;
    top: #{calc((1 - $icon-scale) / 2)}rem;
    margin-left: auto; 
    height: $user-icon-size;
    width: $user-icon-size;
    transition: transform 0.3s ease;

    &:hover{
      margin-right: calc(0% + $user-icon-size*$icon-scale);     
      transform: scale(calc(1 + $icon-scale));
      cursor: pointer;
    }
  }
}

.switch{
  display: flex;
  flex-direction: row;  
  justify-content: center;

  .chart, .personalize{
    min-height: $altura-minima-switch;
    width: $altura-minima-switch;  
    background-color: white;
    margin-top: $altura-margin-top-switch;
    display: flex;
    align-items: center;
    padding-top: 5vh;
    font-size: $font-size;
    border-bottom: $border/2 solid black;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.25);
      cursor: pointer;
    }
  }

  .chart{
    border-radius: 100% 0 0 0;    
    justify-content: end;
    padding-right: 1vw;
    border-right: $border/2 solid black;
  }

  .personalize{
    border-radius: 0 100% 0 0;
    justify-content: start;
    padding-left: 1vw;
    border-left: $border/2 solid black;    
  }  
}

.snellen {
  position: relative;
  height: $altura-minima-snellen;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border: $border solid black;

  .row_to_read{
    width: 100%;
    height: 30%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: $letter-spacing;
  }

  .all_letters{
    position: absolute;
    width: 25%;
    left: 75%;
    top:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .change_active_row{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    :hover{
      transform: scale(1.25);
      cursor: pointer;
    }
    div{
      width: 25px;
      height: 50px;
      margin: 0 10px -25px 10px;      
    }

    div:nth-of-type(1){
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;       
      border-right:60px solid black;
    }
    div:nth-of-type(2){
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;      
      border-left: 60px solid black;
    }
  }
}
